@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#142333, #0e1a26);
  color: #e1eeeb;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

#header {
  margin: 3rem auto;
  max-width: 60rem;
}

#header h1 {
  font-size: 2.5rem;
  border-left: 5px solid;
  padding-left: 1rem;
  border-image: linear-gradient(to bottom, #0890b1, rgba(0, 0, 0, 0)) 1 100%;
}

#user-input {
  padding: 1rem 3rem;
  margin: 2rem auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  max-width: 60rem;
  background: #1d344be8;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ffff;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
}

input:focus-visible {
  outline: none;
}

.inputContainer {
  display: flex;
  align-items: center;
}

#result {
  padding: 0 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
  width: 100%;
  background-color: #294c7317;
  border-radius: 5px;
}

#result thead,
#result tbody {
  font-size: 1rem;
  color: #fff;
}

td:first-of-type {
  text-align: left;
}

thead td {
  text-align: center;
  padding-bottom: 1rem;
}

tbody td {
  text-align: center;
  padding: 0 0 1rem 1rem;
}

tr {
  box-shadow: 0 4px 2px -4px gray;
}

.center {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.table-container {
  max-height: 25rem;
  overflow-y: auto;
  max-width: 60rem;
  margin: auto;
  padding-right: 10px;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #142536;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.logo {
  display: flex;
  width: fit-content;
  text-decoration: none;
  margin: 0.5rem;
}

@media only screen and (max-width: 900px) {
  body {
    overflow-y: auto;
    padding: 0 0.5rem;
  }

  .table-container {
    max-height: none;
    margin: auto;
    padding: 0 0 1rem;
  }

  tbody td {
    text-align: left;
    padding: 0 0 1rem 0rem;
    font-size: 0.7rem;
  }

  thead td {
    padding-bottom: 1rem;
    font-size: 0.7rem;
    text-align: left;
  }

  #result,
  #user-input {
    padding: 0;
  }

  p {
    width: 40%;
  }

  .input-group {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
